[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/GlobalTamashaWeb
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/GlobalTamashaWeb/portfolio/portfolio.sock portfolio.wsgi:application

       
[Install]
WantedBy=multi-user.target